.container{
    padding : 5%;
    padding-top : 2%;
}

#compress, #decompress {
    padding : 5%;
    padding-left : 10%;
    padding-right : 10%;
}

h1 {
    text-align : center;
}

body {
    padding-top : 3%;
}